<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <title>Teeworlds network traffic decoder</title>
</head>
<body>
    <div class="content">
        <h1>teeworlds network traffic decoder</h1>
        <form action="/api/v1/decode" method="POST">
            <textarea name="data" id="data"></textarea>
        </form>
        <pre class="outputs">
            <div class="output-01 code-snippet"></div>
        </pre>
        <script src="/static/js/split.js" defer></script>
        <script src="/static/js/main.js" defer></script>
    </div>
</body>
</html>
